BasedOnStyle:  LLVM
AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
BreakAfterReturnType: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: false
  AtStartOfFile: false
Language:        Cpp
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 1
PointerAlignment: Right
SortIncludes: false # IMPORTANT: `true` will mess up HAL
SpaceBeforeParens: Never
SpacesInContainerLiterals: false
Standard:        Cpp11
